/* Sobreescrituras a JIGO */
.wrap{
    max-width: none !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.jigoshop .site-content{
    width: 100% !important;
}

.entry-content{
    width: 100% !important;
}
/* /Sobreescrituras a JIGO */

#codigoSeguridadTxt::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 1em !important;
}

#codigoSeguridadTxt:-moz-placeholder { /* Mozilla Firefox*/
    font-size: 1em !important;
}

#codigoSeguridadTxt::-moz-placeholder { /* Mozilla Firefox otras versiones */
    font-size: 1em !important;
}

#codigoSeguridadTxt:-ms-input-placeholder { /* Internet Explorer*/
    font-size: 1em !important;
}
